{{> partials/menu}}
<div class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <form class="form-horizontal bg-light m-4" id="productEditForm" data-toggle="validator">
        <div class="col-12">
            <div class="page-header mt-2">
                <div class="float-right mt-1 mr-1">
                    <button id="productUpdate" class="btn btn-outline-success">{{ @root.__ "Save product" }}</button>
                </div>
                <h2>{{ @root.__ "Edit product" }}</h2>
            </div>
        </div>
        <hr class="mt-0"/>
        <div class="col-12">
            <div class="form-group">
                <label for="productTitle" class="control-label">{{ @root.__ "Product title" }} *</label>
                <input type="text" id="productTitle" class="form-control" minlength="5" maxlength="200" value="{{result.productTitle}}" required/>
            </div>
        </div>
        <div class="row ml-0 mr-0">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="productPublished" class="control-label">{{ @root.__ "Status" }} *</label>
                    <select class="form-control" id="productPublished">
                        <option value="true"  {{selectState result.productPublished "true"}}>{{ @root.__ "Published" }}</option>
                        <option value="false" {{selectState result.productPublished "false"}}>{{ @root.__ "Draft" }}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="category" class="control-label">{{ @root.__ "Product Brand" }} *</label>
                    <select class="form-control" id="category" name="category" required>
                        <option value="" disabled selected>Select Category</option>
                        {{#each config.categories}}
                        <option {{selectState @root.result.productCategory this}} value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="productDescription" class="control-label">{{ @root.__ "Product description" }} *</label>
                <textarea minlength="5" rows="10" id="productDescription" class="form-control" required>{{result.productDescription}}</textarea>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="control-label">Permalink</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="productPermalink" placeholder="Permalink for the article" value={{result.productPermalink}}>
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" id="validatePermalink" type="button">{{ @root.__ "Validate" }}</button>
                    </div>
                </div>
                <p class="help-block">{{ @root.__ "This sets a readable URL for the product" }}</p>
            </div>
        </div>
        <div class="col-sm-12">
            <div id="product-images">
                <label class="control-label">{{ @root.__ "Product images" }}</label>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col-sm-6">
                            <img src="{{result.base_uri}}" class="product-main-image img-fluid">
                        </div>
                        <div class="form-group">
                            <input class="form-control-file mt-2" type="file" id="productImage" name="productImage" accept="image/*"/>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        {{#if config.commission}}
        <div class="col-12">
            <div class="txt-danger">Fee: {{updateFeeFloat}} {{config.peerplaysAssetSymbol}}</div>
            <div>A commission of {{config.commission}}% will be deducted from the sale price.</div>
        </div>
        {{/if}}
        <input type="hidden" id="productID" value="{{result._id}}" />
        <input type="hidden" id="nftMetadataID" value="{{result.nftMetadataID}}" />
        <input type="hidden" id="ppyBalance" value="{{balance}}">
        <input type="hidden" id="updateFee" value="{{updateFee}}">
    </form>
</div>